<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gloomyhand</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
</head>
<body>
     <div id="welcome"></div>
</body>

  <script type="text/jsx">
     /*** @jsx React.DOM */
    var WelcomeComponent = React.createClass({
        render: function() {
            return (<p1>Welcome to the Gloomhaven Hand Builder!</p1>);
        }
    });
    React.render(<WelcomeComponent />, document.getElementById('welcome') );
     </script>

</html>
